/* css styles */
.hex1{
    width:200px;
    height:200px;
    background-color:#BC8F00;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    margin: 30px;
}

.hex2{
    width:200px;
    height:200px;
    background-color:#0070C0;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    margin: 30px;
}

.hex1 a {
    color: white;
}

.hex1 h3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color:#b7ebff;
}

.hex2 a {
    color: white;
}

.hex2 h3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color:#b7ebff;
}


.long-hex{
 width: 200px;
height: 450px;
background-color: #00597c;
clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%);
padding-top: 20px;
margin: 3px;
color: white;
}

.long-hex a {
    color: white;
}

.long-hex h3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color:#b7ebff;
}
