/* css styles */
a.white-color {
    color: white;
}

.hex1{
    width:230px;
    height:230px;
    background-color:#000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    position: relative;
    left: 125px;
    top: 25px
    margin: 0px 0px;
    z-index: 1;
}

.hex1::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5px; /* Half the width of the border */
  left: 5px; /* Half the width of the border */
  width: 220px;
  height: 220px;
  background-color: #BC8F00;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex1::after {
  content: '';
  position: absolute;
  z-index:2;
  top: 5px; /* adjust values to fit your need */
  left: -5px; /* adjust values to fit your need */
  width: 10px; /* adjust values to fit your need */
  height: 220px; /* adjust values to fit your need */
  background-color: #000000;
}

.hex2{
    width:230px;
    height:230px;
    background-color:#000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    position: relative;
    left: 125px;
    top: 25px
    margin: 0px 0px;
    margin-left: -10px;
    z-index: 1;
}

.hex2::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5px; /* Half the width of the border */
  left: 5px; /* Half the width of the border */
  width: 220px;
  height: 220px;
  background-color: #0070C0;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex3{
    width:230px;
    height:230px;
    background-color:#000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    position: relative;
    left: 10px;
    margin: -61px 0px;
    z-index: 1;
}

.hex3::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5px; /* Half the width of the border */
  left: 5px; /* Half the width of the border */
  width: 220px;
  height: 220px;
  background-color: #7030A0;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex4{
    width:230px;
    height:230px;
    background-color:#000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    position: relative;
    left: 5px;
    margin: -60px 0px;
    z-index: 1;
}

.hex4::before {
  content: '';
  position: absolute;
  /*background-image: url('images/RLogo.png');
  background-size: 60%; 
  background-repeat: no-repeat;
  background-position: calc(60% - 10px) calc(60% - 20px);*/
  z-index: 1;
  top: 5px; /* Half the width of the border */
  left: 5px; /* Half the width of the border */
  width: 220px;
  height: 220px;
  background-color: #FFFFFF;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex4 img {
    position: relative;
    width:150px;
    left: 50px;
    top: 50px;
    z-index: 2; 
}

.hex5{
    width:230px;
    height:230px;
    background-color:#000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    position: relative;
    left: 0px;
    margin: -61px 0px;
    z-index: 1;
}

.hex5::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5px; /* Half the width of the border */
  left: 5px; /* Half the width of the border */
  width: 220px;
  height: 220px;
  background-color: #7030A0;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex6{
    width:230px;
    height:230px;
    background-color:#000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    position: relative;
    left: 122px;
    margin: -4px 0px;
    z-index: 1;
}

.hex6::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5px; /* Half the width of the border */
  left: 5px; /* Half the width of the border */
  width: 220px;
  height: 220px;
  background-color: #0070C0;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex6::after {
  content: '';
  position: absolute;
  z-index:2;
  top: 5px; /* adjust values to fit your need */
  left: -5px; /* adjust values to fit your need */
  width: 10px; /* adjust values to fit your need */
  height: 220px; /* adjust values to fit your need */
  background-color: #000000;
}

.hex7{
    width:230px;
    height:230px;
    background-color:#000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    position: relative;
    left: 117px;
    margin: -4px 0px;
    z-index: 1;
}

.hex7::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5px; /* Half the width of the border */
  left: 5px; /* Half the width of the border */
  width: 220px;
  height: 220px;
  background-color:#BC8F00;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}



.long-hex{
 width: 200px;
height: 450px;
background-color: #00597c;
clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%);
padding-top: 20px;
margin: 3px;
color: white;
}

.long-hex a {
    color: white;
}

.long-hex h3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color:#b7ebff;
}
